.custom-select {
  position: relative;
  font-family: Arial;
}

.select-selected {
  background-color: green;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

body{
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); 
  font-size: 15px;
 }

 h1{
	text-align: center;
}
